<section class="content-header">
      <h1>
        Dashboard
        <small> Chart Panel > Bar Chart</small>
      </h1>
    </section>

<div class="container-fluid">
<div class="row">
	<div class="col-md-3"></div>
  	<div class="  col-md-6">
    <canvas id="bar" class="chart chart-bar"
  		chart-data="bardata" chart-labels="barlabels" chart-options="options">
	</canvas>
	<div class="row">
		<div class="col-md-2">
			<a ui-sref="chart"><button class="btn btn-info">Back</button></a>
		</div>
	</div>
	</div>
</div>.
</div>