
<section class="content-header">
      <h1>
        Dashboard
        <small> Chart Panel</small>
      </h1>
    </section>

<div class="container-fluid">

 <div class="row">

            <section class="col-md-4"></section>

            <section class="col-md-4">
            	<a ui-sref="bar"><button class="btn btn-info">Bar Chart</button></a>
            	<a ui-sref="line"><button class="btn btn-info">Line Chart</button></a>
            </section>
  </div>

    <section ui-view=""></section>
  

</div>
            